{% extends 'layout.html.twig' %}
{% block content %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->

    <div class="page-h">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Contact</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Concesionario con Experiencia</h3>
                    <h3>Mas de 20 años de experiencia en el Sector del Automovil<br></h3>
                    <p>Trabajando con coches electricos mas de 5 años<br>
                    Apostando por el futuro<br>
                    Mas de 10 concesionarios en toda España<br>
                    Creciendo cada año
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="image-holder">
                        <img src="images/car_1.png" width="390" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/cliente_1.png" width="140" height="100" alt="">
                    <h4>Atención Personalizada</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/garantia.png" width="140" height="100" alt="">
                    <h4>Garantia de Calidad</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/financiero.jpg" width="140" height="100" alt="">
                    <h4>Facilidades Financieras</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/repara.jpg" width="140" height="100" alt="">
                    <h4>Revisiones Garantizadas</h4>
                </div>
            </div>
        </div>
    </div>



    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>    

{% endblock %}
