<!DOCTYPE html>
<html>
        <head>
        {% block head %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    
        <!-- FontAwesome Icons -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
    
        <!-- Normailize Stylesheet -->
        <link rel="stylesheet" href="/css/normalize.min.css">

        <!-- Main Styles -->
        <link rel="stylesheet" href="/css/templatemo-style.css">
        <meta charset="UTF-8">

        {% block title %}<title>Cosas</title>{% endblock %}
        {% endblock %}
        </head>
        
        <body>
        {% block body %}
            {% block content %}

            {% endblock %}
            
            {% block footer %}
                
            {% endblock %}
        {% endblock %}
        </body>   
</html>