{% extends 'layout.html.twig' %}
{% block content %}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


    <!-- SLIDER -->
    <div class="site-slider">
        <div class="flexslider">
            <ul class="slides">
                <li class="slide">
                    <div class="overlay"></div>
                    <img src="images/mustangE.jpeg" alt="">
                    <div class="slider-caption">
                        <div class="title">
                            <h2>Movilidad Electrica</h2>
                        </div>
                        <a href="#" class="slider-button">Download</a>
                    </div>
                </li>
                <li class="slide">
                    <div class="overlay"></div>
                    <img src="images/modelS3.jpg" alt="">
                    <div class="slider-caption">
                        <div class="title">
                            <h2>PRESENTE</h2>
                            <h2>Y</h2>
                            <h2>FUTURO</h2>
                        </div>
                        <a href="#" class="slider-button">Read More</a>
                    </div>
                </li>
            </ul>
        </div>   
    </div> <!-- .site-slider -->
    

    <div class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Energia Ilimitada</h3>
                    <p>Coches preparados para entrar dentro de una extensa red de carga<br>
                    Algunas Exclusivas como la red de SuperChargers de <a href="https://www.tesla.com/es_es">Tesla</a><br>
                    Pero todas en continuo crecimiento, mostrando la progresión de la movilidad electrica<br>
                    Cada vez con mayor velocidad de carga y con mayor numero de cargadores.<br>
                    A parte de la extensa red de cargadores, cada usuario de este tipo de vehiculos, tiene la posibilidad de tener un punto privado en su casa.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <div class="image-holder">
                        <img src="images/car_1.png" width="390" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/cargador.png" width="140" height="100" alt="">
                    <h4>DRAW THE SCATCH</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/cocheT.png" width="140" height="100" alt="">
                    <h4>MIX IT UP</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/energía.png" width="140" height="100" alt="">
                    <h4>TAKE A PHOTO</h4>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <img src="images/electricidad.png" width="140" height="100" alt="">
                    <h4>PREVIEW PRINT</h4>
                </div>
            </div>
        </div>
    </div>



    <div class="third-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>First Procedure</h2>
                    <span>(Pellentesque ligula lectus)</span>
                    <p>Praesent sit amet cursus urna. In nec lobortis tellus. Donec congue, urna non semper interdum, que nisi bibendum tellus, sed tempus tellus neque et leo. Cras laoreet mi sed nulla lobortis, epharetra eros laoreet.
                    <br><br>Maecenas vitae ornare arcu. Phasellus gravida congue turpis, eu bibendum lorem molestie eget. Phasellus tristique sapien non placerat eleifend. Nam quis velit non quam bibendum vestibulum ac et purus.</p>
                </div>
                <div class="col-md-6">
                    <h2>Second Procedure</h2>
                    <span>(In nec lobortis tellus)</span>
                    <ol class="no-color">
                        <li>Pellentesque ligula lectus, molestie quis magna lobortis, placerat imperdiet elit.</li>
                        <li>Praesent sit amet cursus urna. In nec lobortis tellus.</li>
                        <li>Donec congue, urna non semper interdum, que nisi bibendum tellus.</li>
                        <li>Cras laoreet mi sed nulla lobortis, epharetra eros laoreet.</li>
                        <li>Donec convallis elementum convallis. Duis ac purus sem. Fusce id nunc tellus.</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Third Procedure</h2>
                    <span>(Donec convallis elementum convallis)</span>
                    <ol>
                        <li>
                            <h4>Pellentesque ligula lectus, molestie quis magna lobortis.</h4>
                            <p>Praesent sit amet cursus urna. In nec lobortis tellus. Donec congue, urna non semper         interdum, que nisi bibendum tellus, sed tempus tellus neque et leo. </p>
                        </li>
                        <li>
                            <h4>Cras laoreet mi sed nulla lobortis, epharetra eros laoreet.</h4>
                            <p>Donec convallis elementum convallis. Duis ac purus sem. Fusce id nunc tellus. Maecenas vitae ornare arcu. Phasellus gravida congue turpis, eu bibendum.</p>
                        </li>
                        <li>
                            <h4>Lorem molestie eget tristique sapien non placerat eleifend. </h4>
                            <p>Nam quis velit non quam bibendum vestibulum ac et purus. Fusce id nunc tellus. Maecenas vitae ornare arcu.</p>
                        </li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <h2>Fourth Procedure</h2>
                    <span>(Nam quis velit non quam bibendum)</span>
                    <ol>
                        <li>
                            <h4>Pellentesque ligula lectus, molestie quis magna lobortis.</h4>
                            <ol class="no-color">
                                <li>Praesent sit amet cursus urna. In nec lobortis tellus.</li>
                                <li>Donec congue, urna non semper interdum.</li>
                                <li>Que nisi bibendum tellus, sed tempus tellus neque et leo.</li>
                                <li>Cras laoreet mi sed nulla lobortis, epharetra eros laoreet.</li>
                            </ol>
                        </li>
                        <li>
                            <h4>Donec convallis elementum convallis. Duis ac purus sem.</h4>
                            <ol class="no-color">
                                <li>Fusce id nunc tellus. </li>
                                <li>Maecenas vitae ornare arcu. </li>
                                <li>Phasellus gravida congue turpis, eu bibendum lorem molestie eget. </li>
                                <li>Phasellus tristique sapien non placerat eleifend.</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="fourth-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>NEW PRODUCT PROMOTION ?</h2>
                    <a href="contact.html">(BE THERE RIGHT NOW)</a>
                </div>
            </div>
        </div>
    </div>

    

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social">
                        <li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
                        <li class="facebook"><a href="#" class="fa fa-facebook"></a></li>
                        <li class="rss"><a href="#" class="fa fa-rss"></a></li>
                        <li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    <p>Copyright &copy; 2084 Company Name</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>    

{% endblock %}