{% extends 'layout.html.twig' %}

{% block content %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->


    <div class="page-h promotion">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Promotions</h3>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="video-featured">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-holder">
                        <iframe width="860" height="480" frameborder="0" src="http://www.youtube.com/embed/TGFGEDbGThY" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="promotion-s">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-left">
                        <div class="product-image">
                            <img src="images/product1.png" alt="">
                        </div>
                        <div class="product-content">
                            <h3>Pintado Gratis</h3>
                            <p>Por la compra de un coche con un precio mayor de 30000€, te lo pintamos GRATIS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-right">
                        <div class="product-image">
                            <img src="images/product2.png" alt="">
                        </div>
                        <div class="product-content">
                            <h3>20 % Descuento</h3>
                            <p>Consigue tu coche electrico, por un 20 % menos del Valor, oferta valida hasta Final de Año</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>    
    
{% endblock %}